* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.main .opciones {
    margin: 50px;
}

.main .titulo h2{
    overflow: hidden;
    text-align: center;
    margin-bottom: 50px;
}

.main .opciones .botones {
    align-items: center;
}

.main .opciones .boton-centrado{
    width: 33.33%;
    display: flex;
    justify-content: center
}

.main .opciones .boton-centrado button{
    width: 98%;
}


.main .servicios .titulo h2{
    overflow: hidden;
    text-align: center;
}

.main .servicios .titulo p{
    text-align: center;
    margin-bottom: 80px;
}

.main .servicios .tipos-servicio a{
    margin-bottom: 20px;
    width: 98%;
}

.main .cita,
.main .resumen{
    display: none;
}