* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: "Open Sans", Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.main .opciones {
    margin: 50px;
}

.main .titulo h2{
    overflow: hidden;
    text-align: center;
    margin-bottom: 50px;
}

.main .opciones .botones {
    align-items: center;
}

.main .servicios .listado-servicios{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .opciones .boton-centrado button{
    width: 98%;
}


.main .servicios .titulo h2{
    overflow: hidden;
    text-align: center;
}

.main .servicios .titulo p{
    text-align: center;
    margin-bottom: 80px;
}

.main .servicios .tipos-servicio a{
    margin-bottom: 20px;
    width: 98%;
}

.main .cita,
.main .resumen,
.main .servicios{
    display: none;
}

.main .servicio {
    background-color: #468FF9;
    margin: 20px;
    padding: 15px;
    border-radius: 20px;
}

.main .servicio .nombre-servicio{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.main .servicio .precio-servicio {
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.main .servicios .seleccionado {
    background-color: #000E83;
}

.main .mostrar-seccion {
    display: block!important;
}

.main .actual {
    background-color: #1605b3;
}

.main .paginacion button {
    margin-bottom: 3rem;
    background: rgb(3, 184, 255); 
    border: none;
    font-size: 2rem;
    color: #000;
    
    font-weight: bold;
}
.main .paginacion button:hover{
    background: rgb(49, 3, 255); 
    color: #fff;
    font-weight: bold;
}

.main .paginacion .as-centrado {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main .paginacion .anterior,
.main .paginacion .siguiente {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .paginacion .ocultar{
    visibility: hidden;
}

.main .cita .titulo p{
    text-align: center;
    font-size: 20px;
    margin-bottom: 50px;
}

.main .cita form{
    margin-bottom: 50px;
}

.main .invalidar-cita{
    text-align: center;
    font-size: 25px;
}

.main .formulario .error{
    background: #d10812;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}

.main .resumen p{
    font-size: 20px;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.main .resumen{
    background-color:  #1b76ff;
    margin-bottom: 30px;
    width: 20%;
    border-radius: 20px;
}


.main .resumen span{
    font-weight: bold;
}

.main .resumen .contenedor-servicio p{
    margin:0;
    padding: 0;
}

.main .resumen .contenedor-servicio{
    margin-bottom: 10px;
    border-bottom: 1px solid #aeb4be;
}

.main .resumen-servicios{
    margin-bottom: 10px;
}

.main .resumen .precio{
    font-weight: bold;
    font-size: 25px;
}

.main .resumen .titulo-resumen{
    overflow: hidden;
    text-align: center;
    font-size: 25px;
    text-decoration: underline;
    margin-top: 10px;
}

.main .resumen .cantidad-pagar{
    font-size: 30px;
    font-size: bold;
}